@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* custom scrollbar */
.scrollable::-webkit-scrollbar {
  width: 8px;
}
.scrollable::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}
.scrollable::-webkit-scrollbar-thumb {
  background: #4B3A34;
  border-radius: 8px;
}
.scrollable::-webkit-scrollbar-thumb:hover {
  background: #3a2c26;
}

/* Firefox */
.scrollable {
  scrollbar-width: thin;
  scrollbar-color: #4B3A34 #f1f1f1;
}
